@media screen and (min-width: 321px) and (max-width: 480px)
{
	img {display: none;}
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

.one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }
hgroup
{
	text-align: center;
	margin-top: 60px;
	margin-bottom: 40px;
    font-family: 'Source Sans Pro', sans-serif;
	background-image: url(droga.jpg);
	height: 400px;
}
h1
{
	font-size: 50px;
	padding: 10px;
}
h2
{
	font-size: 20px;
}
nav
{
	text-align: center;
	font-size: 20px;
	font-family: 'Source Sans Pro', sans-serif;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	background-color: #cccccc;
}
nav li
{
	border-right: 2px dotted #595959;
	padding: 0 40px;
	display: inline;
}
nav li a:hover
{
	color: #bf8040;
}
nav li a
{
	text-decoration: none;
	color: black;
}
header, nav, section, article, footer
{
	display: block;
}
header, nav
{
	clear: both;
	width: 100%;
}
section#headline
{
	clear: both;
	border: 5px solid #000;
	padding: 1%;
	width: 97%;
	margin-top: 40px;
		
}
section#headline h1
{
	font-size: 50px;
}
section#headline h2 a
{
	font-size: 20px;
	text-decoration: none;
}
#container
{
	margin-left: 40px;
	margin-right: 40px;
}
section#Sport, section#entertainment, section#nerdy
{
	float: left;
	margin: 0 5px; 
	padding: 1%;
	width: 30%;
}
header a
{
	color: #996633;
}
header a:hover
{
	color: black;
}
.main
{
	text-align: justify;
}
.link a
{
	font-size: 20px;
	text-decoration: none;
	color: #996633;
}
.link a:hover
{
	color: black;
}
.dot
{
	border-right: 2px dotted #595959;
}
.margin
{
	margin-right: 5px;
	padding: 10px;
	text-align: justify;
	font-family: 'Source Sans Pro', sans-serif;
}
aside, footer
{
	clear: both;
}
aside 
{
	text-align: center;
	padding: 100px;
}
img
{
	margin-right: 70px;
}
footer 
{
	height: 200px;
	width: 100%;
	background-color: #303030;
	color: white;
	padding: 20px;
}
footer li
{
	margin-left: 400px;
	margin-top: 20px;
}
footer p
{
	text-align: center;
	margin-top: 40px;
}
footer a
{
	color: #996633;
	text-decoration: none;
}
footer a:hover
{
	color: white;
}
